{% extends "base.html" %}
{% load tags %}
{% block cart %}
<div>
    {% if messages %}
    {% for message in messages  %}
    <div class="alert alert-warning" role="alert">
      {{message}}
      </div>
    {% endfor %}

    {% endif %}
    
    {% if user.cart.count > 0 %}
    
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-right">Price</th>
                                <th scope="col" class="text-right">quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in user.cart.all  %}
                            <tr>
                                <td><img src="{{i.image.url}}" width="100" /> </td>
                                <td>{{i.title}}</td>
                                <td>In stock</td>
                                
                                {% for j in quantity  %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                <td class="text-right"> <strong> {{i.price|multiply:j}} Rs</strong></td>
                                <td class="text-right"> <strong> {{j}}</strong></td>
                                {% endif %}
                                {% endfor %}
                                <td class="text-right"> <a href="/deletecart/{{i.id}}/"> <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button></a> </td>
                            </tr>
                            {% endfor %}
                       
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>{{total}} Rs</strong></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 text-right">
                        <a href="/checkout/" style="text-decoration: none;">
                        <button class="btn btn-lg btn-block btn-success text-uppercase ">Checkout</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
   
    
</div>

{% endblock cart %}
{% block title %}
  cart
{% endblock title %}
{% block category %}
{% for i in category %}
<li class="nav-item">
<a href="/category/{{i.name}}" class="nav-link"> {{i.name}}</a>
</li>
{% endfor %}
{% endblock category %}
{% block css %}
  <style>
      /*
** Style Simple Ecommerce Theme for Bootstrap 4
** Created by T-PHP https://t-php.fr/43-theme-ecommerce-bootstrap-4.html
*/
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}

  </style>
{% endblock css %}